html,
body,
main,
.wrapper {
    height: 100%;
}

body {
    overscroll-behavior-y: contain;
    background-color: ghostwhite;
}

* {
    margin: 0;
    box-sizing: border-box;
}

canvas {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}

.next-player {
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: 1.6rem;
    padding: 16px;
    background-color: royalblue;
    border: none;
    color: white;
    text-transform: uppercase;
}

.colors-wrapper {
    position: absolute;
    z-index: 2;
    top: 16px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 16px;
}

.colors-wrapper div {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.hotpink {
    background-color: hotpink;
}
.blue {
    background-color: blue;
}
.yellow {
    background-color: yellow;
}
.black {
    background-color: black;
}
.red {
    background-color: red;
}

.colors-wrapper div.active::after {
    content: "";
    position: absolute;
    height: 4px;
    width: 50px;
    background-color: green;
    bottom: -8px;
}
