html,
body,
main,
.wrapper {
    height: 100%;
}

body {
    overscroll-behavior-y: contain;
    background: repeating-linear-gradient(
        135deg,
        hsl(240, 100%, 92%),
        ghostwhite 50px,
        hsl(225, 73%, 20%) 50px,
        royalblue 100px
    );
}

* {
    margin: 0;
    box-sizing: border-box;
}

:root {
    --picker-gap: 16px;
}

.flex-center {
    display: flex;
    justify-content: center;
}

canvas {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: white;
}

.wrapper {
    position: relative;
    max-width: 400px;
    max-height: 800px;
    margin: 0 auto;
    top: 50%;
    transform: translateY(-50%);
    filter: drop-shadow(2px 4px 8px hsl(0deg 0% 0% / 0.4));
}

.bottom-wrapper {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    font-size: 1.6rem;
}

.bottom-wrapper .word-to-draw,
button {
    flex: 1 1 0;
    border: solid 2px hsl(225, 73%, 20%);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    text-transform: uppercase;
    font-size: 1.3rem;
    -webkit-user-select: none;
    user-select: none;
}

.bottom-wrapper input {
    height: 100%;
    padding: 16px;
    font-size: 1.3rem;
}

.wrong-guess {
    position: absolute;
    bottom: 270px;
    width: 100%;
    text-align: center;
    color: red;
    font-weight: bold;
    font-size: 1.3rem;
    opacity: 0;
    transition: opacity 1s;
}

.correct-guess {
    position: absolute;
    bottom: 270px;
    width: 100%;
    text-align: center;
    color: green;
    font-weight: bold;
    font-size: 1.3rem;
    opacity: 0;
    transition: opacity 1s;
}

.wrong-guess.display,
.correct-guess.display {
    opacity: 1;
}

.next-player {
    flex: 1 1 0;
    color: white;
    background-color: hsl(225, 73%, 20%);
    border: none;
}

.input-wrapper {
    max-width: 70%;
}

.colors-wrapper {
    position: relative;
    display: flex;
    gap: var(--picker-gap);
}

.colors-wrapper .picker {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.hotpink {
    background-color: hotpink;
}
.blue {
    background-color: blue;
}
.yellow {
    background-color: yellow;
}
.black {
    background-color: black;
}
.red {
    background-color: red;
}
.white {
    border: black solid 4px;
}

.active {
    position: absolute;
    height: 4px;
    width: 50px;
    bottom: -8px;
    left: 0;
    background-color: slategray;
    transition: transform 0.2s cubic-bezier(0.47, 1.64, 0.41, 0.8);
}

.active-hotpink {
    transform: translateX(0);
}
.active-blue {
    transform: translateX(calc());
}
.active-yellow {
    transform: translateX(calc(50px + var(--picker-gap) * 1));
}
.active-black {
    transform: translateX(calc(100px + var(--picker-gap) * 2));
}
.active-red {
    transform: translateX(calc(150px + var(--picker-gap) * 3));
}
.active-white {
    transform: translateX(calc(200px + var(--picker-gap) * 4));
}

.debug {
    position: absolute;
    top: 150px;
    right: 0;
    z-index: 100;
}

.extra-wrapper {
    position: absolute;
    padding: 8px;
    bottom: 60px;
    height: 200px;
    width: 100%;
    border-top: solid hsl(225, 73%, 20%) 4px;
    user-select: none;
}

.extra {
    font-size: 1.3rem;
    padding: 16px;
}

.keyboard {
    /* background-color: red; */
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4px;
}

.keyboard-row {
    display: flex;
    justify-content: space-evenly;
}

.keyboard-key {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0 6px 0 0;
    height: 52px;
    flex: 1;

    border: 0;
    border-radius: 4px;
    background-color: #818384;
    font-weight: bold;
    text-transform: uppercase;
    color: white;

    cursor: pointer;
    user-select: none;
}

.keyboard-key:last-of-type {
    margin: 0;
}

.keyboard-row-2 {
    margin: 0 8px;
}

.enter-key {
    padding: 0 4px;
}

.number-of-players-wrapper {
    position: absolute;
    top: 8px;
    right: 4px;
    z-index: 5;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.number-of-players {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    color: white;
    background-color: hsl(225, 73%, 20%);
    border-radius: 50%;
}

.find-image-wrapper {
    padding-top: 16px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 110px;
    text-align: center;
}

.image-to-draw {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 4px;
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

.question-icon,
.what-the-heck {
    cursor: pointer;
    place-self: center;
}

.what-the-heck span {
    background-color: hsl(225, 73%, 20%);
    color: white;
    padding: 0px 8px;
}
