html,
body,
main,
.wrapper {
    height: 100%;
}

body {
    overscroll-behavior-y: contain;
    background-color: ghostwhite;
}

* {
    margin: 0;
    box-sizing: border-box;
}

:root {
    --picker-gap: 16px;
}

.wrapper {
    position: relative;
    max-width: 400px;
    margin: 0 auto;
}

canvas {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: white;
}

.next-player {
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: 1.6rem;
    padding: 16px;
    background-color: royalblue;
    border: none;
    color: white;
    text-transform: uppercase;
}

.colors-wrapper {
    position: absolute;
    z-index: 2;
    top: 16px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: var(--picker-gap);
}

.colors-wrapper .picker {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.hotpink {
    background-color: hotpink;
}
.blue {
    background-color: blue;
}
.yellow {
    background-color: yellow;
}
.black {
    background-color: black;
}
.red {
    background-color: red;
}

.active {
    position: absolute;
    height: 4px;
    width: 50px;
    bottom: -8px;
    left: 0;
    background-color: slategray;
    transition: transform 0.2s cubic-bezier(0.47, 1.64, 0.41, 0.8);
}

.active-hotpink {
    transform: translateX(0);
}
.active-blue {
    transform: translateX(calc(50px + var(--picker-gap)));
}
.active-yellow {
    transform: translateX(calc(100px + var(--picker-gap) * 2));
}
.active-black {
    transform: translateX(calc(150px + var(--picker-gap) * 3));
}
.active-red {
    transform: translateX(calc(200px + var(--picker-gap) * 4));
}

/* .colors-wrapper div.active::after {
    content: "";
    position: absolute;
    height: 4px;
    width: 50px;
    background-color: green;
    bottom: -8px;
} */

.debug {
    position: absolute;
    top: 150px;
    right: 0;
    z-index: 100;
}
